<div class="row justify-content-center">
  <form class="col-10 col-md-6 col-lg-4" (ngSubmit)="login(); $event.stopPropagation();">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="username" [formControl]="username" aria-describedby="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" [formControl]="password">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>
